  <div class="row">


    <div class="col-sm-6">
      <table class="table table-striped">
        <h4>{{plan.name}}</h4>
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          {{#each plan.features as |feature|}}
            <tr>
              <td>{{feature.featureName}}</td>
              <td><span class="glyphicon glyphicon-{{feature.included}}" aria-hidden="true"></span></td>
            </tr>
          {{/each}}

        </tbody>
      </table>
      <div id="total" class="bigger">
        Total: ${{ plan.price}}
      </div>
    </div>

    <div class="col-sm-6">
      <form action="/checkouts" method="post">

        <h3 class="my-3">Billing Information</h3>

        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" id="fname" name="order[fname]">
        </div>

        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" id="lname" name="order[lname]">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" name="order[email]">
        </div>

        <div class="form-group">
          <label for="street">Street Address</label>
          <input type="text" class="form-control" id="street" name="order[street]">
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="order[city]">
        </div>

        <div class="form-group">
          <label for="state">State</label>
          <select class="form-control" id="state" name="order[state]">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>

        <div class="mt-3">
          <div class="form-group float-right">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ STRIPE_PK }}"
              data-amount="{{stripeTotal}}"
              data-name="Stripe Node Test"
              data-description="Widget"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto"></script>
          </div>

          <p class="card-text">
            <a href="/cart" class="btn btn-primary">Back to Cart</a>
          </p>
        </div>

      </form>
    </div>
  </div>
