<div class="row">
  <div class="col-sm-6">
    <h2>{{user.displayName}}</h2>
    <a href="#" class="thumbnail">
      <img src="{{user.picture}}" alt="...">
    </a>
    {{#each accounts as |account|}}
      {{#if account.authorized}}
      {{else}}
        <a href="{{authPath account.name}}" class="btn btn-primary">Link Facebook</a>
        {{/if}}
    {{/each}}
  </div>
  <div class="col-sm-6">
    <h2>Personal Best</h2>
      <ul>
        <li>Pull Ups - {{user.bestPull}}</li>
        <li>Push Ups - {{user.bestPush}}</li>
        <li>Fastest Mile - {{user.bestMile}}</li>
      </ul>
    </div>
</div>
<div class="col-sm-8 col-sm-offset-2">
  {{#each user.workouts as |workout|}}
  <ul>
    <li>Pull Ups - {{workout.push}}</li>
    <li>Push Ups - {{workout.pull}}</li>
    <li>Mile - {{workout.mile}}</li>
  </ul>
  {{/each}}
</div>
