<div class="row">
  <div class="col-sm-6">
    <h2>{{user.fname}} {{user.lname}}</h2>
    <a href="#" class="thumbnail">
      <img src="{{user.picture}}" alt="...">
    </a>
    {{#each accounts as |account|}}
      {{#if account.authorized}}
      {{else}}
        <a href="{{authPath account.name}}" class="btn btn-primary">Link Facebook</a>
        {{/if}}
    {{/each}}
  </div>
  <div class="col-sm-6">
    <h2>Personal Best</h2>
      <ul>
        <li>Pull Ups - {{user.bestPull}}</li>
        <li>Push Ups - {{user.bestPush}}</li>
        <li>Fastest Mile - {{user.bestMin}}:{{user.bestSec}}</li>
      </ul>
    </div>
</div>
<div class="col-xs-12">
  <table class="table table-striped">
    <thead>
      <th>Date</th>
      <th>Pull ups</th>
      <th>Push ups</th>
      <th>Mile time</th>
    </thead>

    {{#each user.workouts as |workout|}}
    <tbody>
      <td>{{workout.date}}</td>
      <td>{{workout.pull}}</td>
      <td>{{workout.push}}</td>
      <td>{{workout.minutes}}:{{workout.seconds}}</td>
    </tbody>
    {{/each}}
  </table>
</div>
