<div class="row">
  <div class="col-sm-6">
    <h2>{{user.fname}} {{user.lname}}</h2>
    <a href="#" class="thumbnail">
      <img src="{{user.picture}}" alt="...">
    </a>
  </div>
  <div class="col-sm-6">
    <h2>Personal Best</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Pull Ups - {{user.bestPull}}</h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Push Ups - {{user.bestPush}}</h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Fastest Mile - {{user.bestMin}}:{{user.bestSec}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <h2>Workout History</h2>
  <table class="table table-striped">
    <thead>
      <th>Date</th>
      <th>Pull ups</th>
      <th>Push ups</th>
      <th>Mile time</th>
    </thead>

    {{#each user.workouts as |workout|}}
    <tbody>
      <td>{{workout.date}}</td>
      <td>{{workout.pull}}</td>
      <td>{{workout.push}}</td>
      <td>{{workout.minutes}}:{{workout.seconds}}</td>
    </tbody>
    {{/each}}
  </table>
</div>
