<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h2>{{user.fname}} {{user.lname}}</h2>
    <a href="#" class="thumbnail">
      <img src="{{user.picture}}" alt="...">
    </a>
    {{#each accounts as |account|}}
      {{#if account.authorized}}
      {{else}}
        <a href="{{authPath account.name}}" class="btn btn-primary">Link Facebook</a>
        {{/if}}
    {{/each}}
    <h4>Teaches</h4>
    <ul>
      {{#each user.courses as |course|}}
        <li>course.name</li>
      {{/each}}
    </ul>
    <h4>About {{user.fname}}</h4>
    <h6>{{user.state}}</h6>

    <h4>Languages</h4>
    <ul>
      {{#each user.langs as |lang|}}
        <li>lang</li>
      {{/each}}
    </ul>
    <div class="jumbotron">

    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <h3>{{user.fname}}'s Story</h3>
      <p>{{user.story}}</p>
    </div>
    <h4>Courses offered by {{user.fname}}</h4>
    <div class="jumbotron">

    </div>
    <h4>Testimonials</h4>
    <div class="jumbotron">

    </div>
  </div>
</div>
